[Unit]
Description=Fontaenensteuerung Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/FontaenenSteuerung/steuerung/fontaenensteuerung.py
WorkingDirectory=/home/pi/FontaenenSteuerung/steuerung
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
